*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    
}

body {
    background-color: #131313;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%23FCA311'/%3E%3Cstop offset='1' stop-color='%2314123D'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23140FFF'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
     overflow-x: hidden;
}

.navbar{
    background: linear-gradient(to bottom, #14123d 0%, #14123d 30%, transparent 100%);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #fca311;
    background-image: linear-gradient(to top, #eb8a0c 0%, #f0ebe3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-col: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-duotone.fa-power-off {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color:#fca311;
    transition: all 0.3s ease
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin-top: -50px;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: 0;
        background: linear-gradient(to bottom, #14123d 0%, #14123d 95%, transparent 100%);
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -999;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
}




.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    margin-top: -7rem;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0  50px;
    margin-bottom: 2rem;
}

.main__content h1 {
    font-size: 5rem;
    background-color: #fca311;
    background-image: linear-gradient(to top, #d88807 0%, #fca311 50%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 8rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #4b7dc7 0%, #2130ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff
}

.main__btn {
    font-size: 1rem;
    background-color: #fca311;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color:#fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2130ff;
    background-image: linear-gradient(to top, #4b7dc7 0%, #2130ff 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}
.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

.skills{
    width:100%;
    text-align: center;
}
.skills h2{
    overflow: hidden;
    font-size: 6.5rem;
    margin-bottom: -60px;
    background-color: #fca311;
    background-image: linear-gradient(to top, #d88807 0%, #fca311 50%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.skills img{
    padding-right: 30px;
    padding-left: 120px;
    width: 22em;
    height: 20%;
    display:inline-block;
}


@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin-top: -8rem;
        height: 90vh;
    }   
    
    .main__content{
        text-align: center;
    }

    .main__content h1 {
        font-size: 2.5rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
    #main__img {
        height: 60%;
        width: 60%;
        margin-top: -30rem;
    }
    
    .skills h2{
        font-size: 3.7rem;
        margin-bottom: 02rem;
    }
    

}



.mainAbout__container {
    display: grid;
    grid-template-columns: 1fr .4fr;
    align-items: center;
    justify-self: center;
    margin-left: 25%;
    margin-top: -7rem;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0  50px;
    margin-bottom: 2rem;
    
}
.nextSect {
    background-color: transparent;
    border: none;
    width:100%;
    text-align: center;
}
.nextSect h1,i{
    overflow: hidden;
    font-size: 2rem;
    background-color: #fca311;
    background-image: linear-gradient(to top, #d88807 0%, #fca311 50%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.mainAbout__content h1 {
    overflow: hidden;
    border-right: .1em solid #2130ff;
    white-space: nowrap;
    animation: typing 3.5s steps(20, end) forwards, blink 0.8s infinite;
    width: 0%;
    font-size: 7rem;
    background-color: #fca311;
    background-image: linear-gradient(to top, #d88807 0%, #fca311 50%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@keyframes typing {
    from { width: 0 }
    to { width: 5.1em }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: #2130ff; }
}

.mainAbout__content p {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff
}
@media screen and (max-width: 768px) {
    .mainAbout__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 70vh;
    }   
    
    .mainAbout__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .mainAbout__content h1 {
        font-size: 5rem;
        margin-top: 1rem;
    }

    .mainAbout__content p {
        margin-top: 0rem;
        font-size: 2rem;
    }

}

@media screen and (max-width: 480px) {
    .mainAbout__content h1 {
        font-size: 3rem;
        margin-top: 3rem;
    }

}

.right {
    margin-top: -4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    height: 150%;
    z-index: 1;
    width: 100%;
    max-width: 2900px;
    background-image: linear-gradient(to bottom, transparent 0%, #d38507 10%, #d38507 100%);
}

.right__content h1 {
    font-size: 5rem;
    padding-top: 50px;
    background-color: #14123d;
    background-size: 100%;
    margin-left: 40px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.right__content p {
    margin-top: 1rem;
    margin-left: 40px;
    font-size: 2rem;
    font-weight: 400;
    color: #14123d
}


#posse #left__img {
    height: 30%;
    width: 30%;
    justify-self: center;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 100px;
    height: 150%;
    z-index: 1;
    width: 100%;
    max-width: 2900px;
    background-image: linear-gradient(to top, #14123d 0%, #14123d 90%, #d38507 100%);
}

.left__content h1 {
    font-size: 5rem;
    background-color: #d38507;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-left: 40px;
    margin-top: -6rem;
}

.left__content p {
    margin-top: 1rem;
    margin-left: 40px;
    font-size: 2rem;
    font-weight: 400;
    color: #d38507
}

#left__img {
    margin-left: 30em;
    height: 40%;
    width: 40%;
}
#amazon {
    background-image: linear-gradient(to top, #14123d 0%, #14123d 90%, transparent 100%);
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 8rem;

}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
        to right, 
        #ff8177 0%, 
        #ff867a 0, 
        #ff8c7f 21%, 
        #f99185 52%, 
        #cf446c 78%, 
        #b12a5b 100%
    );
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 520px;
    width: 420px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363) 0%, rgba(17, 17, 17, 0.945) 100%), url(/images/cc.jpeg);
    background-size: cover;
    position: relative;
    background-position: center;
    color: #FFF;
}

.services__card a{
    color: #FFF;
    text-decoration: none;
}

.services__card:nth-child(2){
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363) 0%, rgba(17, 17, 17, 0.945) 100%), url(/images/posseimg.jpg);
    background-size: auto;
}
.services__card:nth-child(3){
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.363) 0%, rgba(17, 17, 17, 0.945) 100%), url(/images/ebook.jpg);
    background-size:contain;
}
.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

  
  

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
}
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.divbtn {
    font-size: 1rem;
    background-color: #fca311;
    color:#fff;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2130ff;
    background-image: linear-gradient(to top, #4b7dc7 0%, #2130ff 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.project{
    display: flex;
    flex-direction: row;
    padding : 2rem;
    margin-bottom: 4rem;
    justify-self: center;
    font-size: 1.7rem;
    font-weight: 400;
    color: #fff
}

.project p{
    padding: 5rem;
}

.projects h1{
    overflow: hidden;
    text-align: center;
    font-size: 7rem;
    margin-bottom: 5rem;
    background-color: #fca311;
    background-image: linear-gradient(to top, #d88807 0%, #fca311 50%, #fff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.projects h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: -2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #4b7dc7 0%, #2130ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: none;
    border-radius: 50%;
    margin: 1.75em auto 0;
}
.circle-container a{
    display: block;
    position: absolute;
    text-decoration: none;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
    padding-top: 12rem;
    font-size: 2rem;
}
.circle-container h2{
    margin-top: 12rem;
    top: 50%;
    font-size: 5rem;
    background-image: linear-gradient(to top, #fca311 0%, #2130ff 80%);
    background-size: 100%;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-top: 30px;
}
.circle-container h3{
    font-size: 2rem;
    margin-left: -2.7rem;
    background-image: linear-gradient(to top, #fca311 0%, #fca311 80%);
    background-size: 100%;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.circle-container i {
    font-size: 6rem;
}
.circle-container img { display: block; width: 100%; }
.circle-container i:hover {
    transform: scale(1.2);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.deg0 { transform: translate(12em); justify-content: center;} /* 12em = half the width of the wrapper */
.deg60 { transform: rotate(60deg) translate(12em) rotate(-60deg); justify-content: center;}
.deg120 { transform: rotate(120deg) translate(12em) rotate(-120deg);justify-content: center; }
.deg180 { transform: translate(-12em); justify-content: center;}
.deg240 { transform: rotate(240deg) translate(12em) rotate(-240deg); justify-content: center;}
.deg300 { transform: rotate(300deg) translate(12em) rotate(-300deg); justify-content: center;}
@media screen and (max-width: 960px) {
    .deg0 { transform: translate(9em);} /* 12em = half the width of the wrapper */
    .deg60 { transform: rotate(60deg) translate(9em) rotate(-60deg); }
    .deg120 { transform: rotate(120deg) translate(9em) rotate(-120deg); }
    .deg180 { transform: translate(-9em); }
    .deg240 { transform: rotate(240deg) translate(9em) rotate(-240deg); }
    .deg300 { transform: rotate(300deg) translate(9em) rotate(-300deg); }
    .circle-container h2{
        font-size: 4rem;
        padding-top: 30px;
    }
}
@media screen and (max-width: 660px) {
    .deg0 { transform: translate(7em);} /* 12em = half the width of the wrapper */
    .deg60 { transform: rotate(60deg) translate(7em) rotate(-60deg); }
    .deg120 { transform: rotate(120deg) translate(7em) rotate(-120deg); }
    .deg180 { transform: translate(-7em); }
    .deg240 { transform: rotate(240deg) translate(7em) rotate(-240deg); }
    .deg300 { transform: rotate(300deg) translate(7em) rotate(-300deg); }
    .circle-container h2{
        font-size: 4rem;
        padding-top: 30px;
    }
    .circle-container{
        margin-left: 20%;

    }
}